/* css for contact form and contact page */
input[type=text], input[type=email], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical; background-color: #f2f2f2
}

input[type=text]:hover, input[type=email]:hover, select:hover, textarea:hover {
  border: 1px solid #2c3e50;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.24),0 2px 4px 0 rgba(0,0,0,0.19);
}

input[type=reset], input[type=submit] {
  background-color: white;
  font-family: 'Sofia';
  border: 1px solid grey;
  width: 5.5em;
  color: black;
  padding: 11px 12px;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
  margin-right: 0.5em;
  margin-bottom: 0.7em;
  float: center;
  text-align: center;
}

input[type=submit]:hover, input[type=reset]:hover{
  background-color: #e44d3a;
  color: white;
}

@media (min-width:0px) {
  .contact-container {
    border-radius: 5px;
    background-color: white;
    padding: 20px 10px 20px 10px;
    width: 90%;
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.24), 0 15px 40px 0 rgba(0, 0, 0, 0.19);
    margin-right: auto;
    margin-left: auto
  }
}

@media (min-width:400px) {
  .contact-container {
    border-radius: 5px;
    background-color: white;
    padding: 20px 10px 20px 10px;
    width: 70%;
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.24), 0 15px 40px 0 rgba(0, 0, 0, 0.19);
    margin-right: auto;
    margin-left: auto
  }
}

@media (min-width:600px) {
  .contact-container {
    border-radius: 5px;
    background-color: white;
    padding: 20px 10px 20px 10px;
    width: 50%;
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.24), 0 15px 40px 0 rgba(0, 0, 0, 0.19);
    margin-right: auto;
    margin-left: auto
  }
}

@media (min-width:1200px) {
  .contact-container {
    max-width: 1140px
  }
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

h2 {
  font-family: 'Sofia';
  font-size: 2.5em;
}

h3 {
  font-family: 'Sofia';
  font-size: 1.5em;
  padding: 5px 0px 15px 0px;
}

#message {
  min-height: 50px;
  max-height: 350px;
  height: 180px;
}
